/*Style*/

/*********For all*************/

@font-face {
	font-family: Decima Nova;
	src: url('../fonts/Decima\ Nova.ttf');
}
*{
	margin: 0;
	padding: 0;
}
html{
	font-family: Decima Nova;
	font-size: 17px;
}
body{
	height: 100vh;
	max-width:100%;
	/*background-image:url('../img/cover22.jpg') ;*/
	background-image:url('../img/IstutkanaHartija.jpg');
}

/*************Navbar***************************/
.navbar{
	background-color:#029934!important;
}

/************Footer************************/
footer{
	background-color:#1C4A9F!important;
	text-align: center;
	color: #1C4A9F;
}
footer p{
	color: #029934;
	font-size: 12px;
}
footer i{
	color: #029934;
}

/*************View*********************/
.myBtn{
	background-color:#029934;
	color: white;
}
.myBtn:hover{
	background-color:#1C4A9F;
	color: white;
}
.myBackgroundSostav{
	background-image: url('../../uploads/Images/field6.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.myBtnClose{
	background-color:red;
	color: white;
}
.myViewCover22{
	background-image: url('../img/cover22.jpg');
	background-repeat: repeat;
	color: #1C4A9F;
}
div input{
	background-image: url('../img/IstutkanaHartija.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-weight: bold;
	font-size: 20px;
}
div select{
	background-image: url('../img/IstutkanaHartija.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
table{
	color: #1C4A9F!important;
}
td{
	color: #1C4A9F;
	font-size: 20px;
	font-weight: 900;
	text-align: center;
}
th{
	font-size: 17px;
	font-weight: bold;
}
td:hover{
	background-color: #029934;
	color: white;
}
tr{
	color: #1C4A9F;
	text-align: center;
}
tr:hover{
	background-color: #029934;
	color: white;
}
h3:hover{
	background-color: #029934;
	color: white;
}
.myDropdown{
	color: #1C4A9F;
	font-weight: bold;
}
.sostavSlika:hover{
	height: 350px;
	width: 300px;
}

/**********Details************************/
.myInputDetails{
	background:#1C4A9F!important;
	text-align: start!important;
	color: white;
	font-weight: bold;
	font-size: 18px;
}
.myViewProfilnaNova{
	background-image: url('../img/profilna\ nova.jpg');
	background-size: 100% 100%;
	background-repeat:no-repeat;
	color: #1C4A9F;
	font-weight: bold;
	font-size: 20px;
}
option{
	color: white;
}

/*********home**********/
.mojSlider{
    padding: 0px !important;
}
.carouselSliki{
	height: auto;
	width: 100%;
}
.cardSliki{
	height: 100%;
	width: 100%;
}
.naslovRezultatiSostavi{
	font-size: 35px;
	font-weight: bolder;
	color: #029934;
}