<div class="myViewProfilnaNova">
  <h3 class="text-center">
    Стадиони
  </h3>
  <div class="alert alert-success" ng-show="alert_success">
    Успешно ги внесовте податоците!
  </div>
  <div class="alert alert-danger" ng-show="error_alert">
    Ве молиме пополнете го правилно формуларот!
  </div>
  <form name="myForm">
      <div class="mb-3">
        <label for="ime" class="form-label">Име на стадион</label>
        <span class="alert alert-danger" ng-show="myForm.ime.$invalid">Внесете име со најмалце 3 карактери!!!</span>
        <input type="text" class="form-control myInputDetails"  placeholder="Внесете го името на стадионот" id="ime" name="ime" ng-minlength="3" ng-model="ime">
      </div>
      <div class="mb-3">
          <label for="adresa" class="form-label">Адреса на стадион</label>
          <span class="alert alert-danger" ng-show="myForm.adresa.$invalid">Внесете адреса со најмалце 3 карактери!!!</span>
          <input type="text" class="form-control myInputDetails"  placeholder="Внесете ја адресата на стадионот" id="adresa" name="adresa" ng-minlength="3" ng-model="adresa">
      </div>
      <div class="mb-3">
          <label for="kapacitet" class="form-label">Капацитет на стадион</label>
          <span class="alert alert-danger" ng-show="myForm.kapacitet.$invalid">Внесете капацитет со најмалце 3 бројки!!!</span>
          <input type="number" class="form-control myInputDetails"  placeholder="Внесете го капацитетот на стадионот"  id="kapacitet" ng-minlength="3" name="kapacitet" ng-model="kapacitet">
      </div>
      <div class="mb-3 fw-bold">
        <label for="stadion_img_path" class="form-label">Слика</label>
        <input type="text" class="form-control myInputDetails"  placeholder="Внесете слика од стадионот"  id="stadion_img_path" name="stadion_img_path" ng-model="stadion_img_path">
      </div>
      <button type="button" class="btn myBtn mb-5"   ng-click="
      (myForm.ime.$valid && myForm.adresa.$valid && myForm.kapacitet.$valid) ? function_stadion(ime,adresa,kapacitet,stadion_img_path) : erorr()">Save</button>
    </form>
</div>