<h3  class="text-center">Трансфери кој доааѓат</h3>
<div class="alert alert-success" ng-show="alert_success">Успешно ги внесовте податоците!</div>
<div class="alert alert-danger" ng-show="error_alert">Ве молиме пополнете го правилно формуларот!</div>
<form name="myForm">
    <div class="mb-3 mt-3">
      <label for="ime" class="form-label">ime</label>
      <span class="alert alert-danger" ng-show="myForm.ime.$invalid">Внесете име со најмалце 3 карактери!!!</span>
      <input type="text" class="form-control" placeholder="Внесете го името на играчот"  id="ime" name="ime" ng-minlength="3" ng-model="ime">
    </div>
    <div class="mb-3">
      <label for="prezime" class="form-label">prezime</label>
      <span class="alert alert-danger" ng-show="myForm.prezime.$invalid">Внесете презиме со најмалце 3 карактери!!!</span>
      <input type="text" class="form-control"  placeholder="Внесете го презиме на играчот"  id="prezime" name="prezime" ng-minlength="3" ng-model="prezime">
    </div>
    <div class="mb-3">
        <label for="pozicija" class="form-label">pozicija</label>
        <span class="alert alert-danger" ng-show="myForm.pozicija.$invalid">Внесете позиција со најмалце 5 карактери!!!</span>
        <input type="text" class="form-control"  placeholder="Внесете ја позицијата на играчот"  id="pozicija" name="pozicija" ng-minlength="5" ng-model="pozicija">
    </div>
    <div class="mb-3">
        <label for="godini" class="form-label">godini</label>
        <span class="alert alert-danger" ng-show="myForm.godini.$invalid">Внесете години со најмалце 4 бројки!!!</span>
        <input type="number" class="form-control"  placeholder="Внесете ги годините на играчот"  id="godini" name="godini" ng-min="1111" ng-max="9999" ng-model="godini">
    </div>
    <div class="mb-3">
        <label for="klub" class="form-label">klub</label>
        <input type="text" class="form-control"  placeholder="Внесете го клубот од кој доаѓа играчот"  id="klub" name="klub" ng-model="klub">
    </div>
    <div class="mb-3">
        <label for="iznos_denari" class="form-label">iznos_denari</label>
        <input type="number" class="form-control"  placeholder="Внесете го износот во денари на трансферот"  id="iznos_denari" name="iznos_denari" ng-model="iznos_denari">
    </div>
    <button type="button" class="btn btn-primary" ng-click="
    (myForm.ime.$valid && myForm.prezime.$valid && myForm.pozicija.$valid && myForm.godini.$valid) ? function_income(ime,prezime,pozicija,godini,klub,iznos_denari) : erorr()">Save</button>
  </form>