<div class="myViewProfilnaNova">
  <h3  class="text-center">
    Публика
  </h3>
    <div class="alert alert-success" ng-show="alert_success">
      Успешно ги внесовте податоците!
    </div>
    <div class="alert alert-danger" ng-show="error_alert">
      Ве молиме пополнете го правилно формуларот!
    </div>
  <form name="myForm">
        <div class="mb-3">
          <label for="datum_id" class="form-label">Датум на утакмицата</label>
          <span class="alert alert-danger" ng-show="myForm.datum_id.$invalid">Внесете го точниот датум и време!!!</span>
          <input type="date" class="form-control myInputDetails" id="datum_id" name="datum_id" ng-model="datum_id.value" placeholder="yyyy-MM-dd" min="2000-12-31" max="2222-12-31" required>
        </div> 
        <div class="mb-3">
          <label for="domashna" class="form-label">Број на домашна публика</label>
          <span class="alert alert-danger" ng-show="myForm.domashna.$invalid">Внесете најмалку со 1 бројка!!!</span>
          <input type="number" class="form-control myInputDetails"  placeholder="Внесете го бројот на домашната публика" id="domashna" name="domashna" ng-minlength="1" ng-model="domashna">
        </div>
        <div class="mb-3">
            <label for="gostinska" class="form-label">Број на гостинска публика</label>
            <span class="alert alert-danger" ng-show="myForm.gostinska.$invalid">Внесете најмалку со 1 бројка!!!</span>
            <input type="number" class="form-control myInputDetails"  placeholder="Внесете го бројот на гостинската публика" id="gostinska" name="gostinska" ng-minlength="1" ng-model="gostinska">
        </div>
        <div class="mb-3">
            <label for="karti_rasprodadeni" class="form-label">Карти распродадени на домашен терен</label>
            <span class="alert alert-danger" ng-show="myForm.karti_rasprodadeni.$invalid">Внесете најмалку со 1 бројка!!!</span>
            <input type="number" class="form-control myInputDetails"  placeholder="Внесете го бројот распродадени карти на домашен терен"  id="karti_rasprodadeni" ng-minlength="1" name="karti_rasprodadeni" ng-model="karti_rasprodadeni">
        </div>
        <button type="button" class="btn myBtn" ng-click="
        (myForm.datum_id.$valid && myForm.domashna.$valid && myForm.gostinska.$valid && myForm.karti_rasprodadeni.$valid) ? function_publika(datum_id.value,domashna,gostinska,karti_rasprodadeni) : erorr()">Save</button>
  </form>
</div>