<h3  class="text-center">Стручен штаб</h3>
<div class="alert alert-success" ng-show="alert_success">Успешно ги внесовте податоците!</div>
<div class="alert alert-danger" ng-show="error_alert">Ве молиме пополнете го правилно формуларот!</div>
<form name="myForm">
  <div class="mb-3">
    <label for="dres_id" class="form-label">dres_id</label>
    <span class="alert alert-danger" ng-show="myForm.dres_id.$invalid">Внесете име со најмалце 1 бројка!!!</span>
        <select class="form-control" id="dres_id" name="dres_id" ng-model="dres_id">
          <option  value="">Изберете опции</option>
          <option ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
            {{igrac.dres_id}}  ||  {{igrac.pozicija_igrachi}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.godini_igrachi}}
          </option>
        </select>
  </div>
    <div class="mb-3">
      <label for="zalaganje" class="form-label">zalaganje</label>
      <select class="form-control" name="zalaganje" id="zalaganje" ng-model="zalaganje" placeholder="Внесете го залагањето на управата во клубот">
        <option value="">Choose option</option>
        <option name="zalaganje" id="zalaganje" ng-model="zalaganje">nedovolno</option>
        <option name="zalaganje" id="zalaganje" ng-model="zalaganje">dovolno</option>
        <option name="zalaganje" id="zalaganje" ng-model="zalaganje">istaknato</option>
      </select>
    </div>
    <div class="mb-3">
        <label for="rabotna_ocenka" class="form-label">rabotna_ocenka</label>
        <select class="form-control" name="rabotna_ocenka" id="rabotna_ocenka" ng-model="rabotna_ocenka" placeholder="несете ја работната оценка на управата во клубот">
          <option value="">Choose option</option>
          <option name="rabotna_ocenka" id="rabotna_ocenka" ng-model="rabotna_ocenka">1</option>
          <option name="rabotna_ocenka" id="rabotna_ocenka" ng-model="rabotna_ocenka">2</option>
          <option name="rabotna_ocenka" id="rabotna_ocenka" ng-model="rabotna_ocenka">3</option>
          <option name="rabotna_ocenka" id="rabotna_ocenka" ng-model="rabotna_ocenka">4</option>
          <option name="rabotna_ocenka" id="rabotna_ocenka" ng-model="rabotna_ocenka">5</option>
        </select>
    </div>
    <button type="button" class="btn btn-primary" ng-click="
    (myForm.dres_id.$valid && myForm.zalaganje.$valid && myForm.rabotna_ocenka.$valid) ? function_uprava(dres_id,zalaganje,rabotna_ocenka) : erorr()">Save</button>
  </form>

