<h3>Играчи</h3>

<div class="modal" tabindex="-1" ng-show="">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Известување!!!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Дали сте сигурни дека сакате да го избришите ???</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Откажи</button>
          <button type="button" class="btn btn-primary">Прифати</button>
        </div>
      </div>
    </div>
  </div>

<div class="table-responsive">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>dres_id</th>
                <th>
                    <input type="text" name="searchByName" id="searchByName" ng-model="searchByName" placeholder="Пребарај по име на играчот">
                </th>
                <th>
                    <input type="text" name="searchByLastName" id="searchByLastName" ng-model="searchByLastName" placeholder="Пребарај по презиме на играчот">
                </th>
                <th>
                    <input type="text" name="searchByPosition" id="searchByPosition" ng-model="searchByPosition" placeholder="Пребарај по позиција на играчот">
                </th>
                <th>
                    <input type="text" name="searchByYear" id="searchByYear" ng-model="searchByYear" placeholder="Пребарај по години на играчот">
                </th>
                <th>
                    <input type="text" name="searchBySalary" id="searchBySalary" ng-model="searchBySalary" placeholder="Пребарај по месечно плата во денари на играчот">
                </th>
                <th>
                    <select class="form-control" id="searchByIncomeId" name="searchByIncomeId" ng-model="searchByIncomeId">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="incomes in income" value="{{incomes.income_id}}" >
                            {{incomes.income_id}} || {{incomes.ime}} || {{incomes.prezime}} || {{incomes.pozicija}}
                        </option>
                    </select>
                </th>
                <th><i class="fa-solid fa-pen"></i>edit</th>
                <th><i class="fa-solid fa-trash-can"></i>delete</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="igrac in igrachi | filter:{ime:searchByName,prezime:searchByLastName,pozicija:searchByPosition,godini:searchByYear,plata_denari:searchBySalary,income_id:searchByIncomeId}">
                <td>{{igrac.dres_id}} </td>
                <td>{{igrac.ime_igrachi}}</td>
                <td>{{igrac.prezime_igrachi}}</td>
                <td>{{igrac.pozicija_igrachi}}</td>
                <td>{{igrac.godini_igrachi}}</td>
                <td>{{igrac.plata_denari}}</td>
                <td class="text-center">{{igrac.ime_income}} {{igrac.prezime_income}} <br> {{igrac.pozicija_income}} <br> {{igrac.godini_income}}</td>
                <td title="Edit"><i class="fa-solid fa-pen"></i></td>
                <td title="Delete {{igrac.dres_id}} || {{igrac.ime_igrachi}} {{igrac.prezime_igrachi}}"><i class="fa-solid fa-trash-can"></i></td>
            </tr>
        </tbody>

    </table>
</div>
<!--
    <thead>
        <tr>
            <th>dres_id</th>
            <th>ime</th>
            <th>prezime</th>
            <th>pozicija</th>
            <th>godini</th>
            <th>plata_denari</th>
            <th>income_id</th>
            <th><i class="fa-solid fa-pen"></i>edit</th>
            <th><i class="fa-solid fa-trash-can"></i>delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Mice</td>
            <td>Dimov</td>
            <td>Goalkeeper</td>
            <td>1997</td>
            <td>100000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Blagojche</td>
            <td>Popovski</td>
            <td>Centre Back</td>
            <td>1995</td>
            <td>64000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Andrej</td>
            <td>Nedelkovski</td>
            <td>Left Back</td>
            <td>1990</td>
            <td>55000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Darko</td>
            <td>Joshevski</td>
            <td>Right Back</td>
            <td>1991</td>
            <td>55000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Hristian</td>
            <td>Risteski</td>
            <td>Centre Back</td>
            <td>1999</td>
            <td>189500.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Vladimir</td>
            <td>Krsteski</td>
            <td>Defensive Midfielder</td>
            <td>2000</td>
            <td>150000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>7</td>
            <td>Kire</td>
            <td>Lazarov</td>
            <td>Center Midfielder</td>
            <td>1997</td>
            <td>90000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>8</td>
            <td>Darko</td>
            <td>Risteski</td>
            <td>Attacking Midfilder</td>
            <td>1990</td>
            <td>65000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>9</td>
            <td>Borche</td>
            <td>Manevski</td>
            <td>Center Forward</td>
            <td>1988</td>
            <td>65000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>10</td>
            <td>Darko</td>
            <td>Krstevski</td>
            <td>Left Forward</td>
            <td>2006</td>
            <td>32000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>11</td>
            <td>Andrej</td>
            <td>Markovski</td>
            <td>Right Forward</td>
            <td>2000</td>
            <td>120000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>12</td>
            <td>Aleksandar</td>
            <td>Markoski</td>
            <td>Goalkeeper</td>
            <td>2001</td>
            <td>20000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>13</td>
            <td>Nikola</td>
            <td>Piskacev</td>
            <td>Left Back</td>
            <td>1980</td>
            <td>35000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>14</td>
            <td>Jove</td>
            <td>Nikolov</td>
            <td>Centre Back</td>
            <td>2008</td>
            <td>14000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>15</td>
            <td>Jove</td>
            <td>Nikolovski</td>
            <td>Right Back</td>
            <td>1997</td>
            <td>29000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>16</td>
            <td>Mile</td>
            <td>Poposki</td>
            <td>Defensive Midfielder</td>
            <td>1982</td>
            <td>10000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>17</td>
            <td>Jorgo</td>
            <td>Popovski</td>
            <td>Center Midfielder</td>
            <td>1985</td>
            <td>19000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>18</td>
            <td>Jordan</td>
            <td>Mitev</td>
            <td>Attacking Midfielder</td>
            <td>1985</td>
            <td>15000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>19</td>
            <td>Antimon</td>
            <td>Krsteski</td>
            <td>Goalkeeper</td>
            <td>1967</td>
            <td>18000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>20</td>
            <td>Cristiano</td>
            <td>Ronaldo</td>
            <td>Center Forward</td>
            <td>1997</td>
            <td>565000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>21</td>
            <td>Vlade</td>
            <td>Krstevski</td>
            <td>Left Forward</td>
            <td>1997</td>
            <td>39000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>22</td>
            <td>Deni</td>
            <td>Popovski</td>
            <td>Centre Back</td>
            <td>2007</td>
            <td>25000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>23</td>
            <td>Hristijan</td>
            <td>Dragarski</td>
            <td>Right Forward</td>
            <td>1991</td>
            <td>20000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>24</td>
            <td>Darko</td>
            <td>Joshev</td>
            <td>Physiotherapist</td>
            <td>1998</td>
            <td>45000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>25</td>
            <td>Hristi</td>
            <td>Risteski</td>
            <td>Condition Coach</td>
            <td>1990</td>
            <td>24000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>26</td>
            <td>Viktor</td>
            <td>Koteski</td>
            <td>Deputy Coach</td>
            <td>1979</td>
            <td>50000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>27</td>
            <td>Stefan</td>
            <td>Ristevski</td>
            <td>Coach</td>
            <td>1977</td>
            <td>90000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>28</td>
            <td>Darko</td>
            <td>Risteski</td>
            <td>Sports Director</td>
            <td>1980</td>
            <td>120000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>29</td>
            <td>Stojan</td>
            <td>Dimov</td>
            <td>Center Forward</td>
            <td>1990</td>
            <td>20000.0</td>
            <td>1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>30</td>
            <td>Trajan</td>
            <td>Rizovski</td>
            <td>Left Back</td>
            <td>1995</td>
            <td>34000.0</td>
            <td>2</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>31</td>
            <td>Najdo</td>
            <td>Sikijovski</td>
            <td>Right Winger</td>
            <td>2006</td>
            <td>34200.0</td>
            <td>4</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>33</td>
            <td>Borche</td>
            <td>Stojanovski</td>
            <td>Left Winger</td>
            <td>2007</td>
            <td>42678.0</td>
            <td>5</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>34</td>
            <td>Boro</td>
            <td>Stojanov</td>
            <td>Center Midfielder</td>
            <td>1998</td>
            <td>22385.0</td>
            <td>6</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>69</td>
            <td>Vladimir</td>
            <td>Krstevski</td>
            <td>Director</td>
            <td>1967</td>
            <td>655000.0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>77</td>
            <td>Mice</td>
            <td>Gacov</td>
            <td>Right Back</td>
            <td>1988</td>
            <td>15000.0</td>
            <td>3</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>


</table>
-->