<div class="table-responsive myViewIgrachi">
    <h3 class="text-center">Играчи</h3>
    <table class="table">
        <thead >
            <tr>
                <th>Број на дрес</th>
                <th></th>
                <th>
                    <input class="form-control text-center fw-bold" type="text" name="searchByName" id="searchByName" ng-model="searchByName" placeholder="Име">
                </th>
                <th>
                    <input class="form-control text-center fw-bold" type="text" name="searchByLastName" id="searchByLastName" ng-model="searchByLastName" placeholder="Презиме">
                </th>
                <th>
                    <input class="form-control text-center fw-bold " type="text" name="searchByPosition" id="searchByPosition" ng-model="searchByPosition" placeholder="Позиција">
                </th>
                <th>
                    <input class="form-control text-center fw-bold" type="text" name="searchByYear" id="searchByYear" ng-model="searchByYear" placeholder="Години">
                </th>
                <th>
                    <input class="form-control text-center fw-bold" type="text" name="searchBySalary" id="searchBySalary" ng-model="searchBySalary" placeholder="Плата">
                </th>
                <th>
                    <select class="form-control text-center myDropdown" id="searchByIncomeId" name="searchByIncomeId" ng-model="searchByIncomeId">
                        <option class="myDropdown"  value="">Трансфери кој доааѓат</option>
                        <option class="myDropdown" ng-repeat="incomes in income" value="{{incomes.income_id}}" >
                            {{incomes.income_id}} || {{incomes.ime}} || {{incomes.prezime}} || {{incomes.pozicija}}
                        </option>
                    </select>
                </th>
                <th><i class="fa-solid fa-pen"></i>Измени</th>
                <th><i class="fa-solid fa-trash-can"></i>Избриши</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="igrac in igrachi | filter:{ime_igrachi:searchByName,prezime_igrachi:searchByLastName,pozicija_igrachi:searchByPosition,godini_igrachi:searchByYear,plata_denari:searchBySalary,income_id:searchByIncomeId}">
                <td class="text-center"><br><br>{{igrac.dres_id}} </td>
                <td><img class="rounded-circle" width="150" height="150" src="uploads/Images/igrachi/{{igrac.igrachi_img_path}}" alt="{{igrac.igrachi_img_path}}"></td>
                <td class="text-center"><br><br>{{igrac.ime_igrachi}}</td>
                <td class="text-center"><br><br>{{igrac.prezime_igrachi}}</td>
                <td class="text-center"><br><br>{{igrac.pozicija_igrachi}}</td>
                <td class="text-center"><br><br>{{igrac.godini_igrachi}}</td>
                <td class="text-center"><br><br>{{igrac.plata_denari}}</td>
                <td class="text-center"><br><br>{{igrac.ime_income}} {{igrac.prezime_income}} <br> {{igrac.pozicija_income}} <br> {{igrac.godini_income}}</td>
                <td title="Измени"><br><br><i class="fa-solid fa-pen"></i></td>
                <td title="Избриши {{igrac.dres_id}} || {{igrac.ime_igrachi}} {{igrac.prezime_igrachi}}">
                  <br> <br><button type="button" class="btn myBtn" data-bs-toggle="modal" data-bs-target="#myModal" ng-click="passPosition($index)"> <i class="fa-solid fa-trash-can"></i></button>
                </td>
            </tr>
        </tbody>

    </table>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header myBtn">
          <h4 class="modal-title">Внимание!!!</h4>
          <i type="button" data-bs-dismiss="modal" class="fa-regular fa-rectangle-xmark fa-2x"></i>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body myBtn">
            Дали сте сигурни дека сакате да го избришите играчот {{igrachi[getIndex].ime_igrachi}} {{igrachi[getIndex].prezime_igrachi}}???
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer bg-light">
          <button type="button" class="btn myBtn" data-bs-dismiss="modal" ng-click="deleteRow('igrachi',igrachi[getIndex].dres_id)">Да</button>
          <button type="button" class="btn myBtn" data-bs-dismiss="modal">Не</button>
          
        </div>
  
      </div>
    </div>
  </div>