<h3>Играчи</h3>
<div class="table-responsive">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>dres_id</th>
                <th>
                    <input type="text" name="searchByName" id="searchByName" ng-model="searchByName" placeholder="Пребарај по име на играчот">
                </th>
                <th>
                    <input type="text" name="searchByLastName" id="searchByLastName" ng-model="searchByLastName" placeholder="Пребарај по презиме на играчот">
                </th>
                <th>
                    <input type="text" name="searchByPosition" id="searchByPosition" ng-model="searchByPosition" placeholder="Пребарај по позиција на играчот">
                </th>
                <th>
                    <input type="text" name="searchByYear" id="searchByYear" ng-model="searchByYear" placeholder="Пребарај по години на играчот">
                </th>
                <th>
                    <input type="text" name="searchBySalary" id="searchBySalary" ng-model="searchBySalary" placeholder="Пребарај по месечно плата во денари на играчот">
                </th>
                <th>
                    <select class="form-control" id="searchByIncomeId" name="searchByIncomeId" ng-model="searchByIncomeId">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="incomes in income" value="{{incomes.income_id}}" >
                            {{incomes.income_id}} || {{incomes.ime}} || {{incomes.prezime}} || {{incomes.pozicija}}
                        </option>
                    </select>
                </th>
                <th><i class="fa-solid fa-pen"></i>edit</th>
                <th><i class="fa-solid fa-trash-can"></i>delete</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="igrac in igrachi | filter:{ime_igrachi:searchByName,prezime_igrachi:searchByLastName,pozicija_igrachi:searchByPosition,godini_igrachi:searchByYear,plata_denari:searchBySalary,income_id:searchByIncomeId}">
                <td>{{igrac.dres_id}} </td>
                <td>{{igrac.ime_igrachi}}</td>
                <td>{{igrac.prezime_igrachi}}</td>
                <td>{{igrac.pozicija_igrachi}}</td>
                <td>{{igrac.godini_igrachi}}</td>
                <td>{{igrac.plata_denari}}</td>
                <td class="text-center">{{igrac.ime_income}} {{igrac.prezime_income}} <br> {{igrac.pozicija_income}} <br> {{igrac.godini_income}}</td>
                <td title="Edit"><i class="fa-solid fa-pen"></i></td>
                <td title="Delete {{igrac.dres_id}} || {{igrac.ime_igrachi}} {{igrac.prezime_igrachi}}">
                   <button type="button" class="btn myBtn" data-bs-toggle="modal" data-bs-target="#myModal" ng-click="passPosition($index)"> <i class="fa-solid fa-trash-can"></i></button>
                </td>
            </tr>
        </tbody>

    </table>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header myBtn">
          <h4 class="modal-title">Внимание!!!</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body myBtn">
            Дали сте сигурни дека сакате да го избришите играчот {{igrachi[getIndex].ime_igrachi}} {{igrachi[getIndex].prezime_igrachi}}???
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer bg-light">
          <button type="button" class="btn myBtn" data-bs-dismiss="modal" ng-click="deleteRow('igrachi',igrachi[getIndex].dres_id)">Да</button>
          <button type="button" class="btn myBtn" data-bs-dismiss="modal">Не</button>
          
        </div>
  
      </div>
    </div>
  </div>
