<div class="table-responsive myView">
    <h3 class="text-center">Трансфери кој доааѓат</h3>
        <table class="table text-center">
            <thead>
                <tr>
                        <th>Трансфери кој доааѓат</th>
                        <th></th>
                        <th>
                            <input class="form-control text-center fw-bold" type="text" name="searchByName" id="searchByName" ng-model="searchByName" placeholder="Име">
                        </th>
                        <th> 
                            <input class="form-control text-center fw-bold" type="text" name="searchByLastName" id="searchByLastName" ng-model="searchByLastName" placeholder="Презиме">
                        </th>
                        <th>
                            <input class="form-control text-center fw-bold" type="text" name="searchByPosition" id="searchByPosition" ng-model="searchByPosition" placeholder="Позиција">
                        </th>
                        <th>
                            <input class="form-control text-center fw-bold" type="text" name="searchByYear" id="searchByYear" ng-model="searchByYear" placeholder="Години">
                        </th>
                        <th>
                            <input class="form-control text-center fw-bold" type="text" name="searchByClub" id="searchByClub" ng-model="searchByClub" placeholder="Клубот">
                        </th>
                        <th>
                            <input class="form-control text-center fw-bold" type="text" name="searchByIznosDenari" id="searchByIznosDenari" ng-model="searchByIznosDenari" placeholder="Износот на трансферот">
                        </th>
                        <th><i class="fa-solid fa-pen"></i>Измени</th>
                        <th><i class="fa-solid fa-trash-can"></i>Избриши</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="incomes in income | filter:{ime:searchByName,prezime:searchByLastName,pozicija:searchByPosition,godini:searchByYear,klub:searchByClub,iznos_denari:searchByIznosDenari}">
                    <td> <br>{{incomes.income_id}}</td>
                    <td><img class="rounded-circle" width="100" height="100" src="uploads/Images/income/{{incomes.income_img_path}}" alt="{{incomes.income_img_path}}"></td>
                    <td> <br>{{incomes.ime}}</td>
                    <td><br>{{incomes.prezime}}</td>
                    <td><br>{{incomes.pozicija}}</td>
                    <td><br>{{incomes.godini}}</td>
                    <td><br>{{incomes.klub}}</td>
                    <td><br>{{incomes.iznos_denari}}</td>     
                    <td title="Измени"><br><i class="fa-solid fa-pen"></i></td>
                    <td title="Избриши {{incomes.ime}} {{incomes.prezime}}">
                        <br><button type="button" class="btn myBtn" data-bs-toggle="modal" data-bs-target="#myModal" ng-click="passPosition($index)"> <i class="fa-solid fa-trash-can"></i></button>
                    </td>
                </tr>
            </tbody>
    
        </table>
    </div>
    
    
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header myBtn">
              <h4 class="modal-title">Внимание!!!</h4>
              <i type="button" data-bs-dismiss="modal" class="fa-regular fa-rectangle-xmark fa-2x"></i>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body myBtn">
                Дали сте сигурни дека сакате да го избришите играчот {{income[getIndex].ime}} {{income[getIndex].prezime}}???
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer bg-light">
              <button type="button" class="btn myBtn" data-bs-dismiss="modal" ng-click="deleteRow('income',income[getIndex].income_id)">Да</button>
              <button type="button" class="btn myBtn" data-bs-dismiss="modal">Не</button>
              
            </div>
      
          </div>
        </div>
      </div>
