<div class="table-responsive myView">
    <h3 class="text-center">Натпреварување</h3>
    <table class="table table-striped">
        <thead>
            <tr class="text-center">
                <th>Коло</th>
                <th>
                    <input class="form-control text-center fw-bold" type="text" name="searchByDatum" id="searchByDatum" ng-model="searchByDatum" placeholder="Датум">
                </th>
                <th>
                    <input class="form-control text-center fw-bold" type="text" name="searchByProtivnik" id="searchByProtivnik" ng-model="searchByProtivnik" placeholder="Противник">
                </th>
                <th>
                    <input class="form-control text-center fw-bold" type="text" name="searchByRezultat" id="searchByRezultat" ng-model="searchByRezultat" placeholder="Резултат">
                </th>
                <th>
                    <input class="form-control text-center fw-bold" type="text" name="searchByMesto" id="searchByMesto" ng-model="searchByMesto" placeholder="Место">
                </th>
                <th>
                    <select class="form-control text-center" id="searchBySostavId" name="searchBySostavId" ng-model="searchBySostavId">
                        <option value="">Состав</option>
                        <option ng-repeat="sostavi in sostav" value="{{sostavi.sostav_id}}" >
                        {{sostavi.datum_sostav}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control text-center" id="searchByStadionId" name="searchByStadionId" ng-model="searchByStadionId">
                        <option  value="">Стадион</option>
                        <option ng-repeat="stadioni in stadion" value="{{stadioni.stadion_id}}" >
                            {{stadioni.ime}} 
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control text-center" id="searchByDatumId" name="searchByDatumId" ng-model="searchByDatumId">
                        <option value="">Публика</option>
                        <option ng-repeat="publiki in publika" value="{{publiki.datum_id}}" >
                            {{publiki.datum_id}}
                        </option>
                    </select>
                </th>
                <th><i class="fa-solid fa-pen"></i>edit</th>
                <th><i class="fa-solid fa-trash-can"></i>delete</th>
            </tr>
        </thead>

        <tbody>
            <tr class="text-center" ng-repeat="natprevar in natprevaruvanje | filter:{datum:searchByDatum,protivnik:searchByProtivnik,rezultat:searchByRezultat,mesto:searchByMesto,sostav_id:searchBySostavId,stadion_id:searchByStadionId,datum_id:searchByDatumId}">
                <td>{{natprevar.kolo_id}}</td>
                <td>{{natprevar.datum}}</td>
                <td>{{natprevar.protivnik}}</td>
                <td>{{natprevar.rezultat}}</td>
                <td>{{natprevar.mesto}}</td>
                <td>
                    <button type="button" class="btn myBtn" data-bs-toggle="modal" data-bs-target="#myModalSostav" ng-click="passPosition($index)"> <i class="fa-solid fa-shirt"></i></button>
                </td>
                <td>{{natprevar.ime}}
                    <button type="button" class="btn myBtn" data-bs-toggle="modal" data-bs-target="#myModalStadion" ng-click="passPosition($index)"><i class="fa-solid fa-futbol"></i></button>
                </td>
                <td>
                    <button type="button" class="btn myBtn" data-bs-toggle="modal" data-bs-target="#myModalPublika" ng-click="passPosition($index)"><i class="fa-solid fa-futbol"></i></button>
                </td>
                <td title="Edit"><i class="fa-solid fa-pen"></i></td>
                <td title="Delete {{natprevar.kolo_id}} || {{natprevar.datum}} || {{natprevar.protivnik}}">
                    <button type="button" class="btn myBtn" data-bs-toggle="modal" data-bs-target="#myModal" ng-click="passPosition($index)"> <i class="fa-solid fa-trash-can"></i></button>
                </td>
            </tr>
        </tbody>

    </table>
</div>


<!-- The Modal Delete-->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header myBtn">
          <h4 class="modal-title">Внимание!!!</h4>
          <i type="button" data-bs-dismiss="modal" class="fa-regular fa-rectangle-xmark fa-2x"></i>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body myBtn">
            Дали сте сигурни дека сакате да го избришите натпреварот против {{natprevaruvanje[getIndex].protivnik}} на {{natprevaruvanje[getIndex].datum}}???
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer bg-light">
          <button type="button" class="btn myBtn" data-bs-dismiss="modal" ng-click="deleteRow('natprevaruvanje',natprevaruvanje[getIndex].kolo_id)">Да</button>
          <button type="button" class="btn myBtn" data-bs-dismiss="modal">Не</button> 
        </div>
  
      </div>
    </div>
  </div>

  <!-- The Modal Sostav ID-->
<div class="modal" id="myModalSostav">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header myBtn">
          <h4 class="modal-title text-center">Составот против екипата на {{natprevaruvanje[getIndex].protivnik}} на {{natprevaruvanje[getIndex].datum}}</h4>
          <i type="button" data-bs-dismiss="modal" class="fa-regular fa-rectangle-xmark fa-2x"></i>
          
        </div>
  
        <!-- Modal body -->
        <div class="modal-body myBtn myBackgroundSostav">

            <div class="row ">
                <br>
                <div class="col-12 text-center">
                     Goalkeeper: <br> {{sostav[getIndex].goalkeeper}}
                </div>
                <br><br><br>
                <div class="col-3 text-center ">
                    Right Back: <br> {{sostav[getIndex].right_back}}
                </div>
                <div class="col-3 text-center">
                    Center Back: <br> {{sostav[getIndex].centre_back1}}
                </div>
                <div class="col-3 text-center">
                    Center Back: <br> {{sostav[getIndex].centre_back2}}
                </div>
                <div class="col-3 text-center">
                    Left Back: <br> {{sostav[getIndex].left_back}}
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-12 text-center">
                    Defensive Midfielder Back: <br> {{sostav[getIndex].defensive_midfielder}}
                </div>
                <br>
                <div class="col-6 text-center">
                    Center Midfielder: <br> {{sostav[getIndex].center_midfielder}}
                </div>
                <div class="col-6 text-center">
                    Attacking Midfielder: <br> {{sostav[getIndex].attacking_midfielder}}    <i class="fa-solid fa-c"></i>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-6 text-center">
                    Right Forward Back: <br> {{sostav[getIndex].right_forward}}
                </div>
                <div class="col-6 text-center">
                    Left Forward: <br> {{sostav[getIndex].left_forward}}
                </div>
                <br>
                <div class="col-12 text-center">
                    Center Forward: <br> {{sostav[getIndex].center_forward}}
                </div>
            </div>
        </div>
        <div class="modal-body text-start myBtn border-top border-light">
            <div class="row">
                <div class="col-sm-12">
                    Coach: {{sostav[getIndex].coach}}
                </div>
                <hr>
                <div class="col-sm-12">
                    Reserve 1: {{sostav[getIndex].reserve1}}
                </div>
                <hr>
                <div class="col-sm-12">
                    Reserve 2: {{sostav[getIndex].reserve2}}
                </div>
                <hr>
                <div class="col-sm-12">
                    Reserve 3: {{sostav[getIndex].reserve3}}
                </div>
                <hr>
                <div class="col-sm-12">
                    Reserve 4: {{sostav[getIndex].reserve4}}
                </div>
                <hr>
                <div class="col-sm-12">
                    Reserve1 5: {{sostav[getIndex].reserve5}}
                </div>
                <hr>
                <div class="col-sm-12">
                    Reserve1 6: {{sostav[getIndex].reserve6}}
                </div>
                <hr>
                <div class="col-sm-12">
                    Reserve 7: {{sostav[getIndex].reserve7}}
                </div>
            </div>
        </div>
        
  
        <!-- Modal footer -->
        <div class="modal-footer bg-light">
          <button type="button" class="btn myBtn" data-bs-dismiss="modal">Назад</button> 
        </div>
  
      </div>
    </div>
  </div>

  <!-- The Modal Publika-->
<div class="modal" id="myModalPublika">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header myBtn">
          <h4 class="modal-title">Детали за натпреварот на ден {{natprevaruvanje[getIndex].datum}}!!!</h4>
          <i type="button" data-bs-dismiss="modal" class="fa-regular fa-rectangle-xmark fa-2x"></i>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body myBtn">
            На стадионот {{natprevaruvanje[getIndex].ime}} во {{natprevaruvanje[getIndex].mesto}} против екипата на {{natprevaruvanje[getIndex].protivnik}} кој заврши со 
            резултат {{natprevaruvanje[getIndex].rezultat}}.На натпреварот беа присутни {{natprevaruvanje[getIndex].domashna}} домашна публика и {{natprevaruvanje[getIndex].gostinska}} гостинска публика.
            Распродадени се {{natprevaruvanje[getIndex].karti_rasprodadeni}} карти.
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer bg-light">
          <button type="button" class="btn myBtn" data-bs-dismiss="modal">Врати се назад</button> 
        </div>
  
      </div>
    </div>
  </div>

  <!-- The Modal Stadion-->
<div class="modal" id="myModalStadion">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header myBtn">
          <h4 class="modal-title">{{natprevaruvanje[getIndex].ime}}</h4>
          <i type="button" data-bs-dismiss="modal" class="fa-regular fa-rectangle-xmark fa-2x"></i>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body myBtn myStadion1">
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer bg-light">
          <button type="button" class="btn myBtn" data-bs-dismiss="modal">Врати се назад</button> 
        </div>
  
      </div>
    </div>
  </div>