<div class="table-responsive myViewCover22">
  <h3 class="text-center">Трансфери кој заминуваат</h3>
    <table class="table text-center">
        <thead>
            <tr>
                <th>Трансфери кој заминуваат</th>
                <th></th>
                <th>
                    <input class="form-control text-center fw-bold" type="text" name="searchByKlub" id="searchByKlub" ng-model="searchByKlub" placeholder="Името на клуб">
                </th>
                <th>
                    <input class="form-control text-center fw-bold" type="text" name="searchByIznosDenari" id="searchByIznosDenari" ng-model="searchByIznosDenari" placeholder="Износот на трансфер">
                </th>
                <th>
                    <select class="form-control text-center myDropdown" id="searchByDresId" name="searchByDresId"  ng-model="searchByDresId">
                        <option class="myDropdown"  value="">Број на дрес, име, презиме, позиција, години</option>
                        <option class="myDropdown"  ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
                            {{igrac.dres_id}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.pozicija_igrachi}} || {{igrac.godini_igrachi}}
                        </option>
                    </select>
                </th>
                <th><i class="fa-solid fa-pen"></i>Измени</th>
                <th><i class="fa-solid fa-trash-can"></i>Избриши</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="outcomes in outcome | filter:{klub:searchByKlub,iznos_denari:searchByIznosDenari,dres_id:searchByDresId}">
                <td><br>{{outcomes.outcome_id}}</td>
                <td><img class="rounded-circle" width="100" height="100" src="uploads/Images/outcome/{{outcomes.outcome_img_path}}" alt="{{outcomes.outcome_img_path}}"></td>
                <td><br>{{outcomes.klub}}</td>
                <td><br>{{outcomes.iznos_denari}}</td>
                <td><br>{{outcomes.dres_id}} || {{outcomes.ime}} {{outcomes.prezime}} || {{outcomes.pozicija}} || {{outcomes.godini}}</td>
                <td title="Измени"><br><i class="fa-solid fa-pen"></i></td>
                <td title="Избриши {{outcomes.outcome_id}} || {{outcomes.klub}} || {{outcomes.ime}} {{outcomes.prezime}}">
                  <br><button type="button" class="btn myBtn" data-bs-toggle="modal" data-bs-target="#myModal" ng-click="passPosition($index)"> <i class="fa-solid fa-trash-can"></i></button>
                </td>
            </tr>
        </tbody>

    </table>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header myBtn">
          <h4 class="modal-title">Внимание!!!</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body myBtn">
            Дали сте сигурни дека сакате да го избришите играчот {{outcome[getIndex].ime}} {{outcome[getIndex].prezime}}???
        </div>
        <div class="modal-footer bg-light">
          <button type="button" class="btn myBtn" data-bs-dismiss="modal" ng-click="deleteRow('outcome',outcome[getIndex].outcome_id)">Да</button>
          <button type="button" class="btn myBtn" data-bs-dismiss="modal">Не</button>
        </div>
      </div>
    </div>
</div>