<div class="table-responsive myView">
    <h3 class="text-center">Состав</h3>
    <table class="table table-striped">
        <!--<thead>
            <tr class="text-center">
                <th>Составот на колото</th>
                <th>
                    <select class="form-control" name="searchByDatum" id="searchByDatum" ng-model="searchByDatum">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="natprevar in natprevaruvanje" value="{{natprevar.datum}}" >
                            {{natprevar.kolo_id}} коло  ||   {{natprevar.datum}}
                        </option>
                    </select>
                </th>
                <th>
                    natprevar
                    <select class="form-control" name="searchByNatprevar" id="searchByNatprevar" ng-model="searchByNatprevar">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="natprevar in natprevaruvanje" value="{{natprevar.kolo_id}}" >
                            {{natprevar.kolo_id}}  ||  {{natprevar.protivnik}} || {{natprevar.rezultat}} || {{natprevar.mesto}}
                        </option>
                    </select>
                </th>

                <th>
                    <select class="form-control" name="searchByCoach" id="searchByCoach" ng-model="searchByCoach">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
                            {{igrac.dres_id}}  || {{igrac.pozicija_igrachi}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.godini_igrachi}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control" name="searchByGK" id="searchByGK" ng-model="searchByGK">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
                            {{igrac.dres_id}}  ||    {{igrac.pozicija_igrachi}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.godini_igrachi}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control" name="searchByCB1" id="searchByCB1" ng-model="searchByCB1">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
                            {{igrac.dres_id}}  ||    {{igrac.pozicija_igrachi}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.godini_igrachi}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control" name="searchByCB2" id="searchByCB2" ng-model="searchByCB2">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
                            {{igrac.dres_id}}  ||    {{igrac.pozicija_igrachi}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.godini_igrachi}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control" name="searchByRB" id="searchByRB" ng-model="searchByRB">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
                            {{igrac.dres_id}}  ||    {{igrac.pozicija_igrachi}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.godini_igrachi}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control" name="searchByLB" id="searchByLB" ng-model="searchByLB">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
                            {{igrac.dres_id}}  ||  {{igrac.pozicija_igrachi}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.godini_igrachi}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control"  name="searchByDMF" id="searchByDMF" ng-model="searchByDMF">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
                            {{igrac.dres_id}}  ||   {{igrac.pozicija_igrachi}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.godini_igrachi}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control"  name="searchByCMF" id="searchByCMF" ng-model="searchByCMF">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
                            {{igrac.dres_id}}  ||   {{igrac.pozicija_igrachi}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.godini_igrachi}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control" name="searchByAMF" id="searchByAMF" ng-model="searchByAMF">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
                            {{igrac.dres_id}}  ||    {{igrac.pozicija_igrachi}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.godini_igrachi}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control" name="searchByRWF" id="searchByRWF" ng-model="searchByRWF">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
                            {{igrac.dres_id}}  ||   {{igrac.pozicija_igrachi}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.godini_igrachi}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control" name="searchByLWF" id="searchByLWF" ng-model="searchByLWF">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
                            {{igrac.dres_id}}  ||   {{igrac.pozicija_igrachi}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.godini_igrachi}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control" name="searchByCF" id="searchByCF" ng-model="searchByCF">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
                            {{igrac.dres_id}}  ||   {{igrac.pozicija_igrachi}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.godini_igrachi}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control"name="searchByReserve1" id="searchByReserve1" ng-model="searchByReserve1">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
                            {{igrac.dres_id}}  ||   {{igrac.pozicija_igrachi}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.godini_igrachi}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control" name="searchByReserve2" id="searchByReserve2" ng-model="searchByReserve2">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
                            {{igrac.dres_id}}  ||   {{igrac.pozicija_igrachi}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.godini_igrachi}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control" name="searchByReserve3" id="searchByReserve3" ng-model="searchByReserve3">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
                            {{igrac.dres_id}}  ||  {{igrac.pozicija_igrachi}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.godini_igrachi}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control" name="searchByReserve4" id="searchByReserve4" ng-model="searchByReserve4">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
                            {{igrac.dres_id}}  ||   {{igrac.pozicija_igrachi}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.godini_igrachi}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control" name="searchByReserve5" id="searchByReserve5" ng-model="searchByReserve5">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
                            {{igrac.dres_id}}  ||   {{igrac.pozicija_igrachi}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.godini_igrachi}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control" name="searchByReserve6" id="searchByReserve6" ng-model="searchByReserve6">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
                            {{igrac.dres_id}}  ||   {{igrac.pozicija_igrachi}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.godini_igrachi}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control" name="searchByReserve7" id="searchByReserve7" ng-model="searchByReserve7">
                        <option  value="">Изберете опции</option>
                        <option ng-repeat="igrac in igrachi" value="{{igrac.dres_id}}" >
                            {{igrac.dres_id}}  ||    {{igrac.pozicija_igrachi}} || {{igrac.ime_igrachi}}  {{igrac.prezime_igrachi}} || {{igrac.godini_igrachi}}
                        </option>
                    </select>
                </th>
                <th><i class="fa-solid fa-pen"></i>edit</th>
                <th><i class="fa-solid fa-trash-can"></i>delete</th>
            </tr>
        </thead>-->
        <!--<tbody>
            <tr class="text-center" ng-repeat="sostavi in sostav | filter:{datum_sostav:searchByDatum,natprevar:searchByNatprevar,coach:searchByCoach,goalkeeper:searchByGK,
                centre_back1:searchByCB1,centre_back2:searchByCB2,right_back:searchByRB,left_back:searchByLB,
                defensive_midfielder:searchByDMF,center_midfielder:searchByCMF,attacking_midfielder:searchByAMF,
                right_forward:searchByRWF,left_forward:searchByLWF,center_forward:searchByCF,reserve1:searchByReserve1,
                reserve2:searchByReserve2,reserve3:searchByReserve3,reserve4:searchByReserve4,reserve5:searchByReserve5,
                reserve6:searchByReserve6,reserve7:searchByReserve7}">
                <td>{{sostavi.sostav_id}}</td>
                <td>{{sostavi.datum_sostav}}</td>
                <td>{{sostavi.natprevar}}</td>
                <td>
                    <button type="button" class="btn myBtn" data-bs-toggle="modal" data-bs-target="#myModalSostav" ng-click="passPosition($index)"> <i class="fa-solid fa-shirt"></i></button>
                </td>
               
                <td>{{sostavi.coach}}</td>
                <td>{{sostavi.coach}}</td>
                <td>{{sostavi.goalkeeper}}</td>
                <td>{{sostavi.centre_back1}}</td>
                <td>{{sostavi.centre_back2}}</td>
                <td>{{sostavi.right_back}}</td>
                <td>{{sostavi.left_back}}</td>
                <td>{{sostavi.defensive_midfielder}}</td>
                <td>{{sostavi.center_midfielder}}</td>
                <td>{{sostavi.attacking_midfielder}}</td>
                <td>{{sostavi.right_forward}}</td>
                <td>{{sostavi.left_forward}}</td>
                <td>{{sostavi.center_forward}}</td>
                <td>{{sostavi.reserve1}}</td>
                <td>{{sostavi.reserve2}}</td>
                <td>{{sostavi.reserve3}}</td>
                <td>{{sostavi.reserve4}}</td>
                <td>{{sostavi.reserve5}}</td>
                <td>{{sostavi.reserve6}}</td>
                <td>{{sostavi.reserve7}}</td>
                
                <td title="Edit"><i class="fa-solid fa-pen"></i></td>
                <td title="Delete {{sostavi.sostav_id}} {{sostavi.datum_sostav}}">
                    <button type="button" class="btn myBtn" data-bs-toggle="modal" data-bs-target="#myModal" ng-click="passPosition($index)"> <i class="fa-solid fa-trash-can"></i></button>
                </td>
            </tr>
        </tbody>-->
        <thead>
            <tr class="text-center">
                <th>Составот на колото</th>
                <th>
                    <select class="form-control text-center myDropdown" name="searchByDatum" id="searchByDatum" ng-model="searchByDatum">
                        <option class="myDropdown" value="">Датум</option>
                        <option class="myDropdown" ng-repeat="natprevar in natprevaruvanje" value="{{natprevar.datum}}" >
                        {{natprevar.datum}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control text-center myDropdown" name="searchByNatprevar" id="searchByNatprevar" ng-model="searchByNatprevar">
                        <option class="myDropdown"  value="">Натпревар</option>
                        <option class="myDropdown" ng-repeat="natprevar in natprevaruvanje" value="{{natprevar.protivnik}}" >
                         {{natprevar.protivnik}} || {{natprevar.rezultat}} || {{natprevar.mesto}}
                        </option>
                    </select>
                </th>
                <th>
                    <select class="form-control text-center myDropdown" name="searchBySostav" id="searchBySostav" ng-model="searchBySostav">
                        <option class="myDropdown" value="">Состав</option>
                        <option class="myDropdown" ng-repeat="sostavi in sostav" value="{{sostavi.sostav_id}}" >
                            {{sostavi.sostav_id}} || {{sostavi.datum_sostav}}  || {{sostavi.natprevar}}
                        </option>
                    </select>
                </th>
                <th><i class="fa-solid fa-pen"></i>Измени</th>
                <th><i class="fa-solid fa-trash-can"></i>Избриши</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" ng-repeat="sostavi in sostav | filter:{datum_sostav:searchByDatum,natprevar:searchByNatprevar,sostav_id:searchBySostav}">
                <td>{{sostavi.sostav_id}}</td>
                <td>{{sostavi.datum_sostav}}</td>
                <td>{{sostavi.natprevar}}</td>
                <td>
                    <button type="button" class="btn myBtn" data-bs-toggle="modal" data-bs-target="#myModalSostav" ng-click="passPosition($index)"> <i class="fa-solid fa-shirt"></i></button>
                </td>
                <td title="Edit"><i class="fa-solid fa-pen"></i></td>
                <td title="Delete {{sostavi.sostav_id}} {{sostavi.datum_sostav}}">
                    <button type="button" class="btn myBtn" data-bs-toggle="modal" data-bs-target="#myModal" ng-click="passPosition($index)"> <i class="fa-solid fa-trash-can"></i></button>
                </td>
            </tr>
        </tbody>

    </table>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header myBtn">
          <h4 class="modal-title">Внимание!!!</h4>
          <i type="button" data-bs-dismiss="modal" class="fa-regular fa-rectangle-xmark fa-2x"></i>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body myBtn">
            Дали сте сигурни дека сакате да го избришите составот со број {{sostav[getIndex].sostav_id}}???
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer bg-light">
          <button type="button" class="btn myBtn" data-bs-dismiss="modal" ng-click="deleteRow('sostav',sostav[getIndex].sostav_id)">Да</button>
          <button type="button" class="btn myBtn" data-bs-dismiss="modal">Не</button>
          
        </div>
  
      </div>
    </div>
  </div>
 

      <!-- The Modal Sostav ID-->
<div class="modal" id="myModalSostav">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header myBtn">
          <h4 class="modal-title text-center">Составот против екипата на {{natprevaruvanje[getIndex].protivnik}} на {{natprevaruvanje[getIndex].datum}}</h4>
          <i type="button" data-bs-dismiss="modal" class="fa-regular fa-rectangle-xmark fa-2x"></i>
          
        </div>
  
        <!-- Modal body -->
        <div class="modal-body myBtn myBackgroundSostav">

            <div class="row ">
                <br>
                <div class="col-12 text-center">
                     Goalkeeper: <br> {{sostav[getIndex].goalkeeper}}
                </div>
                <br><br><br>
                <div class="col-3 text-center ">
                    Right Back: <br> {{sostav[getIndex].right_back}}
                </div>
                <div class="col-3 text-center">
                    Center Back: <br> {{sostav[getIndex].centre_back1}}
                </div>
                <div class="col-3 text-center">
                    Center Back: <br> {{sostav[getIndex].centre_back2}}
                </div>
                <div class="col-3 text-center">
                    Left Back: <br> {{sostav[getIndex].left_back}}
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-12 text-center">
                    Defensive Midfielder Back: <br> {{sostav[getIndex].defensive_midfielder}}
                </div>
                <br>
                <div class="col-6 text-center">
                    Center Midfielder: <br> {{sostav[getIndex].center_midfielder}}
                </div>
                <div class="col-6 text-center">
                    Attacking Midfielder: <br> {{sostav[getIndex].attacking_midfielder}}    <i class="fa-solid fa-c"></i>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-6 text-center">
                    Right Forward Back: <br> {{sostav[getIndex].right_forward}}
                </div>
                <div class="col-6 text-center">
                    Left Forward: <br> {{sostav[getIndex].left_forward}}
                </div>
                <br>
                <div class="col-12 text-center">
                    Center Forward: <br> {{sostav[getIndex].center_forward}}
                </div>
            </div>
        </div>
        <div class="modal-body text-start myBtn border-top border-light">
            <div class="row">
                <div class="col-sm-12">
                    Coach: {{sostav[getIndex].coach}}
                </div>
                <hr>
                <div class="col-sm-12">
                    Reserve 1: {{sostav[getIndex].reserve1}}
                </div>
                <hr>
                <div class="col-sm-12">
                    Reserve 2: {{sostav[getIndex].reserve2}}
                </div>
                <hr>
                <div class="col-sm-12">
                    Reserve 3: {{sostav[getIndex].reserve3}}
                </div>
                <hr>
                <div class="col-sm-12">
                    Reserve 4: {{sostav[getIndex].reserve4}}
                </div>
                <hr>
                <div class="col-sm-12">
                    Reserve1 5: {{sostav[getIndex].reserve5}}
                </div>
                <hr>
                <div class="col-sm-12">
                    Reserve1 6: {{sostav[getIndex].reserve6}}
                </div>
                <hr>
                <div class="col-sm-12">
                    Reserve 7: {{sostav[getIndex].reserve7}}
                </div>
            </div>
        </div>
        
  
        <!-- Modal footer -->
        <div class="modal-footer bg-light">
          <button type="button" class="btn myBtn" data-bs-dismiss="modal">Назад</button> 
        </div>
  
      </div>
    </div>
  </div> 