<h3>Стадион</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>stadion_id</th>
                <th>
                    <input type="text" name="searchByIme" id="searchByIme" ng-model="searchByIme" placeholder="Пребарај по име на стадионот">
                </th>
                <th>
                    <input type="text" name="searchByAdresa" id="searchByAdresa" ng-model="searchByAdresa" placeholder="Пребарај по адреса на стадионот">
                </th>
                <th>
                    <input type="number" name="searchByKapacitet" id="searchByKapacitet" ng-model="searchByKapacitet" placeholder="Пребарај по капацитет на стадионот">
                </th>
                <th><i class="fa-solid fa-pen"></i>edit</th>
                <th><i class="fa-solid fa-trash-can"></i>delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="stadioni in stadion | filter:{ime:searchByIme,adresa:searchByAdresa,kapacitet:searchByKapacitet}">
                <td>{{stadioni.stadion_id}}</td>
                <td>{{stadioni.ime}}</td>
                <td>{{stadioni.adresa}}</td>
                <td>{{stadioni.kapacitet}}</td>
                <td title="Edit"><i class="fa-solid fa-pen"></i></td>
                <td title="Delete {{stadioni.stadion_id}} {{stadioni.ime}}">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal"> <i class="fa-solid fa-trash-can"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header bg-danger">
          <h4 class="modal-title">Внимание!!!</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body bg-primary">
            Дали сте сигурни дека сакате да го избришите играчот???
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer bg-light">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Да</button>
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Не</button>
          
        </div>
  
      </div>
    </div>
  </div>
<!--

<table class="table table-striped">
    <thead>
        <tr>
            <th>stadion_id</th>
            <th>ime</th>
            <th>adresa</th>
            <th>kapacitet</th>
            <th><i class="fa-solid fa-pen"></i>edit</th>
            <th><i class="fa-solid fa-trash-can"></i>delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Tumbe Kafe</td>
            <td>Ulica Tumbe kafe bb</td>
            <td>7000</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Petar Miloshevski</td>
            <td>Ulica 16ta bb</td>
            <td>5000</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Pavel Shatev</td>
            <td>Setaliste bb</td>
            <td>2980</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Kjumurno</td>
            <td>Setaliste bb</td>
            <td>1564</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Pomoshno 1</td>
            <td>Ulica Tumbe kafe bb</td>
            <td>635</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>6</td>
            <td>FFM</td>
            <td>Kiril i Metodij bb</td>
            <td>295</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
-->