<div class="table-responsive myViewCover22">
    <h3 class="text-center">Стадион</h3>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th>Стадион</th>
                <th></th>
                <th>
                    <input class="form-control text-center fw-bold" type="text" name="searchByIme" id="searchByIme" ng-model="searchByIme" placeholder="Пребарај по име на стадионот">
                </th>
                <th>
                    <input class="form-control text-center fw-bold" type="text" name="searchByAdresa" id="searchByAdresa" ng-model="searchByAdresa" placeholder="Пребарај по адреса на стадионот">
                </th>
                <th>
                    <input class="form-control text-center fw-bold" type="number" name="searchByKapacitet" id="searchByKapacitet" ng-model="searchByKapacitet" placeholder="Пребарај по капацитет на стадионот">
                </th>
                <th><i class="fa-solid fa-pen"></i>Измени</th>
                <th><i class="fa-solid fa-trash-can"></i>Избриши</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr ng-repeat="stadioni in stadion | filter:{ime:searchByIme,adresa:searchByAdresa,kapacitet:searchByKapacitet}">
                <td><br>{{stadioni.stadion_id}}</td>
                <td><img class="rounded-circle" width="100" height="100" src="uploads/Images/stadion/{{stadioni.stadion_img_path}}" alt="{{stadioni.stadion_img_path}}"></td>
                <td><br>{{stadioni.ime}}</td>
                <td><br>{{stadioni.adresa}}</td>
                <td> <br>{{stadioni.kapacitet}}</td>
                <td title="Edit"><i class="fa-solid fa-pen"></i></td>
                <td title="Delete {{stadioni.stadion_id}} {{stadioni.ime}}">
                    <button type="button" class="btn myBtn" data-bs-toggle="modal" data-bs-target="#myModal" ng-click="passPosition($index)"> <i class="fa-solid fa-trash-can"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header myBtn">
          <h4 class="modal-title">Внимание!!!</h4>
          <i type="button" data-bs-dismiss="modal" class="fa-regular fa-rectangle-xmark fa-2x"></i>
        </div>
        <div class="modal-body myBtn">
            Дали сте сигурни дека сакате да го избришите стадионот {{stadion[getIndex].ime}}???
        </div>
        <div class="modal-footer bg-light">
          <button type="button" class="btn myBtn" data-bs-dismiss="modal" ng-click="deleteRow('stadion',stadion[getIndex].stadion_id)">Да</button>
          <button type="button" class="btn myBtn" data-bs-dismiss="modal">Не</button>
        </div>
      </div>
    </div>
</div>