<h3>Стадион</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>stadion_id</th>
                <th>
                    <input type="text" name="searchByIme" id="searchByIme" ng-model="searchByIme" placeholder="Пребарај по име на стадионот">
                </th>
                <th>
                    <input type="text" name="searchByAdresa" id="searchByAdresa" ng-model="searchByAdresa" placeholder="Пребарај по адреса на стадионот">
                </th>
                <th>
                    <input type="number" name="searchByKapacitet" id="searchByKapacitet" ng-model="searchByKapacitet" placeholder="Пребарај по капацитет на стадионот">
                </th>
                <th><i class="fa-solid fa-pen"></i>edit</th>
                <th><i class="fa-solid fa-trash-can"></i>delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="stadioni in stadion | filter:{ime:searchByIme,adresa:searchByAdresa,kapacitet:searchByKapacitet}">
                <td>{{stadioni.stadion_id}}</td>
                <td>{{stadioni.ime}}</td>
                <td>{{stadioni.adresa}}</td>
                <td>{{stadioni.kapacitet}}</td>
                <td title="Edit"><i class="fa-solid fa-pen"></i></td>
                <td title="Delete {{stadioni.stadion_id}} {{stadioni.ime}}">
                    <button type="button" class="btn myBtn" data-bs-toggle="modal" data-bs-target="#myModal" ng-click="passPosition($index)"> <i class="fa-solid fa-trash-can"></i></button>
                </td>
            </tr>
        </tbody>

    </table>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header myBtn">
          <h4 class="modal-title">Внимание!!!</h4>
          <i type="button" data-bs-dismiss="modal" class="fa-regular fa-rectangle-xmark fa-2x"></i>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body myBtn">
            Дали сте сигурни дека сакате да го избришите стадионот {{stadion[getIndex].ime}}???
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer bg-light">
          <button type="button" class="btn myBtn" data-bs-dismiss="modal" ng-click="deleteRow('stadion',stadion[getIndex].stadion_id)">Да</button>
          <button type="button" class="btn myBtn" data-bs-dismiss="modal">Не</button>
          
        </div>
  
      </div>
    </div>
  </div>