<h3>Стручен штаб</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    dres_id
                </th>
                <th>
                    <input type="text" name="searchByZalaganje" id="searchByZalaganje" ng-model="searchByZalaganje" placeholder="Пребарај по залагање во клубот">
                </th>
                <th>
                    <input type="number" name="searchByRabotnaOcenka" id="searchByRabotnaOcenka" ng-model="searchByRabotnaOcenka" placeholder="Пребарај од 1-5 работната оценка">
                </th>
                <th><i class="fa-solid fa-pen"></i>edit</th>
                <th><i class="fa-solid fa-trash-can"></i>delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="upravi in uprava | filter:{zalaganje:searchByZalaganje,rabotna_ocenka:searchByRabotnaOcenka}">
                <td>{{upravi.dres_id}}</td>
                <td>{{upravi.zalaganje}}</td>
                <td>{{upravi.rabotna_ocenka}}</td>
                <td title="Edit "><i class="fa-solid fa-pen"></i></td>
                <td title="Delete {{upravi.dres_id}} {{upravi.zalaganje}}">
                    <button type="button" class="btn myBtn" data-bs-toggle="modal" data-bs-target="#myModal" ng-click="passPosition($index)"> <i class="fa-solid fa-trash-can"></i></button>
                </td>
            </tr>
        </tbody>

    </table>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header myBtn">
          <h4 class="modal-title">Внимание!!!</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body myBtn">
            Дали сте сигурни дека сакате да го избришите членот во управата {{uprava[getIndex].dres_id}}???
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer bg-light">
          <button type="button" class="btn myBtn" data-bs-dismiss="modal" ng-click="deleteRow('uprava',uprava[getIndex].dres_id)">Да</button>
          <button type="button" class="btn myBtn" data-bs-dismiss="modal">Не</button>
          
        </div>
  
      </div>
    </div>
  </div>