<div class="table-responsive myViewCover22">
    <h3 class="text-center">Стручен штаб</h3>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th>
                    Број на дрес во стручен штаб
                </th>
                <th></th>
                <th>
                    <select class="form-control text-center myDropdown" name="searchByZalaganje" id="searchByZalaganje" ng-model="searchByZalaganje">
                        <option class="myDropdown" value="">Залагање во клубот</option>
                        <option class="myDropdown">недоволно</option>
                        <option class="myDropdown" >доволно</option>
                        <option class="myDropdown" >истакнато</option>
                    </select>
                </th>
                <th>
                    <select class="form-control text-center myDropdown" name="searchByRabotnaOcenka" id="searchByRabotnaOcenka" ng-model="searchByRabotnaOcenka">
                        <option class="myDropdown" value="">Работна оценка</option>
                        <option class="myDropdown">1</option>
                        <option class="myDropdown" >2</option>
                        <option class="myDropdown" >3</option>
                        <option class="myDropdown" >4</option>
                        <option class="myDropdown" >5</option>
                    </select>
                </th>
                <th><i class="fa-solid fa-pen"></i>Измени</th>
                <th><i class="fa-solid fa-trash-can"></i>Избриши</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" ng-repeat="upravi in uprava | filter:{zalaganje:searchByZalaganje,rabotna_ocenka:searchByRabotnaOcenka}">
                <td class="text-start"><br>{{upravi.dres_id}}</td>
                <td><img class="rounded-circle" width="100" height="100" src="uploads/Images/uprava/{{upravi.uprava_img_path}}" alt="{{upravi.uprava_img_path}}"></td>
                <td><br>{{upravi.zalaganje}}</td>
                <td><br>{{upravi.rabotna_ocenka}}</td>
                <td title="Измени "><i class="fa-solid fa-pen"></i></td>
                <td title="Избриши {{upravi.dres_id}} {{upravi.zalaganje}}">
                    <button type="button" class="btn myBtn" data-bs-toggle="modal" data-bs-target="#myModal" ng-click="passPosition($index)"> <i class="fa-solid fa-trash-can"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header myBtn">
          <h4 class="modal-title">Внимание!!!</h4>
          <i type="button" data-bs-dismiss="modal" class="fa-regular fa-rectangle-xmark fa-2x"></i>
        </div>
        <div class="modal-body myBtn">
            Дали сте сигурни дека сакате да го избришите членот во управата {{uprava[getIndex].dres_id}}???
        </div>
        <div class="modal-footer bg-light">
          <button type="button" class="btn myBtn" data-bs-dismiss="modal" ng-click="deleteRow('uprava',uprava[getIndex].dres_id)">Да</button>
          <button type="button" class="btn myBtn" data-bs-dismiss="modal">Не</button>    
        </div>
      </div>
    </div>
</div>